{% extends 'base_domain.html' %}
{% load staticfiles %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="ui segment">
        <div class="ui secondary segment">
            <div class="ui two column grid">
                <div class="column">
                    <i class="idea icon"></i>平台分类
                </div>
            </div>
        </div>
        <div class="ui teal segment">
            <div class="ui fluid vertical menu">
                <a href="{% url 'app:sort_291' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certs291 }}</div>
                </a>
                <a href="{% url 'app:sort_646' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certs646 }}</div>
                </a>
                <a href="{% url 'app:sort_ty1' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsty1 }}</div>
                </a>
                <a href="{% url 'app:sort_ty2' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsty2 }}</div>
                </a>
                <a href="{% url 'app:sort_tc' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certstc }}</div>
                </a>
                <a href="{% url 'app:sort_jj' %}" class="item">
                    JJ
                    <div class="ui teal basic left pointing label">{{ certsjj }}</div>
                </a>
                <a href="{% url 'app:sort_tcgj' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certstcgj }}</div>
                </a>
                <a href="{% url 'app:sort_tcss' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certstcss }}</div>
                </a>
                <a href="{% url 'app:sort_ycgj' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsycgj }}</div>
                </a>
                <a href="{% url 'app:sort_scgj' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsscgj }}</div>
                </a>
                <a href="{% url 'app:sort_qcgj' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsqcgj }}</div>
                </a>
                <a href="{% url 'app:sort_mcgj' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certsmcgj }}</div>
                </a>
                <a href="{% url 'app:sort_tc6' %}" class="item">
                    xx
                    <div class="ui teal basic left pointing label">{{ certstc6 }}</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_js %}

{% endblock %}
